@import '../../core/utils/vibrancy.css';

@layer components {
  .Card {
    background-color: var(--global-background);
    padding: var(--padding);
    border-radius: var(--radius);
    position: relative;

    &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
      background-color: var(--dimmed-0);
    }

    &[data-card-bordered='true'] {
      outline: solid 1px var(--global-outer-contrast-border);
    }

    &[data-card-bordered='true']:not([data-elevation]) {
      box-shadow: inset 0 0 0 1px var(--global-inner-contrast-border);
      outline: solid 1px var(--global-outer-contrast-border);
    }

    &[data-card-bordered='true'][data-elevation] {
      --extra-shadow: inset 0 0 0 1px var(--global-inner-contrast-border);
    }

    &[data-card-dimmed='0'] {
      background-color: var(--dimmed-0);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--global-background);
      }
    }

    &[data-card-dimmed='1'] {
      background-color: var(--dimmed-1);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--dimmed-0);
      }
    }

    &[data-card-dimmed='2'] {
      background-color: var(--dimmed-2);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--dimmed-1);
      }
    }

    &[data-card-vibrant='true'] {

      @mixin vibrancy;

      background-color: var(--vibrancy-background);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--vibrancy-background-soft);
      }
    }

    &[data-card-vibrant='true'][data-card-dimmed='0'] {
      background-color: var(--vibrancy-background-soft);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--global-background);
      }
    }

    &[data-card-vibrant='true'][data-card-dimmed='1'] {
      background-color: var(--vibrancy-background-mid);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--vibrancy-background-soft);
      }
    }

    &[data-card-vibrant='true'][data-card-dimmed='2'] {
      background-color: var(--vibrancy-background-hard);

      &[data-card-highlight-hover='true']:is(:hover, :focus-visible, :focus-within) {
        background-color: var(--vibrancy-background-mid);
      }
    }
  }

  .Left {
    flex-shrink: 0;
  }

  .Content {
    flex-grow: 1;
  }

  .Right {
    flex-shrink: 0;
  }
}
