@layer components {
  .LinearProgress {
    position: relative;
  }

  .Progress {
    --progress-height: token(--space-4);
    --track-color: var(--vibrancy-background-mid);
    --fill-color: var(--cta-default);

    position: relative;
    width: 100%;
    border: none;
    appearance: none;
    overflow: hidden;
    display: block;
    background: var(--track-color);
    box-shadow: 0 0 0 1px var(--global-outer-contrast-border), inset 0 0 0 1px var(--global-inner-contrast-border);
    height: var(--progress-height);
    border-radius: token(--radius-full);
    backdrop-filter: brightness(1.35);

    &[data-progress-dimension='big'] {
      --progress-height: token(--space-8);
    }

    &:indeterminate {
      background-size: 200% 100%;
      animation: progress-stripes 2s linear infinite;
      background-image: linear-gradient(
        to right,
        transparent 50%,
        var(--fill-color) 50%,
        var(--fill-color) 60%,
        transparent 60%,
        transparent 71.5%,
        var(--fill-color) 71.5%,
        var(--fill-color) 84%,
        transparent 84%
      );
    }
  }

  .Progress::-webkit-progress-bar {
    background-color: transparent;
  }

  .Progress::-webkit-progress-value {
    background: var(--fill-color);
    border-radius: token(--radius-full);
    transition: width 200ms ease-out;
  }

  .Progress::-moz-progress-bar {
    background: var(--fill-color);
  }

  .Progress:not([value])::-moz-progress-bar {
    background: transparent;
  }

  .Percentage {
    position: absolute;
    left: var(--percentage-offset);
    transition: left 200ms ease-out;
    transform: translateX(var(--percentage-translation));
    white-space: nowrap;
  }

  @keyframes progress-stripes {
    0% {
      background-size: 200% 100%;
      background-position: left -31.25% top 0%;
    }

    50% {
      background-size: 800% 100%;
      background-position: left -49% top 0%;
    }

    100% {
      background-size: 400% 100%;
      background-position: left -102% top 0%;
    }
  }
}
