@import '../../core/utils/media.css';

@layer components {
  .Text {
    --fs-min: token(--font-size-16);
    --fs-max: token(--font-size-18);

    min-block-size: 0.01vh;
    font-size: inherit;
    max-inline-size: var(--max-w, initial);
    text-align: var(--t-align);
    word-break: break-word;
    color: var(--text-color);
    white-space: var(--white-space, normal);

    /* Colors */

    &[data-text-dimmed='4'] {
      color: var(--dimmed-4);
    }

    &[data-text-dimmed='5'] {
      color: var(--dimmed-5);
    }

    &[data-text-dimmed='6'] {
      color: var(--dimmed-6);
    }

    &[data-text-dimmed='7'] {
      color: var(--dimmed-7);
    }

    &[data-text-dimmed='8'] {
      color: var(--dimmed-8);
    }

    &[data-text-sentiment='positive'] {
      color: var(--highlight-green-foreground);
    }

    &[data-text-sentiment='informative'] {
      color: var(--highlight-blue-foreground);
    }

    &[data-text-sentiment='danger'] {
      color: var(--highlight-red-foreground);
    }

    &[data-text-sentiment='warning'] {
      color: var(--highlight-yellow-foreground);
    }

    /* Sizes */

    &[data-text-size] {
      font-size: var(--fs-max);
    }

    &[data-text-size='12'] {
      --fs-min: token(--font-size-12);
      --fs-max: token(--font-size-12);
    }

    &[data-text-size='14'] {
      --fs-min: token(--font-size-12);
      --fs-max: token(--font-size-14);
    }

    &[data-text-size='16'] {
      --fs-min: token(--font-size-14);
      --fs-max: token(--font-size-16);
    }

    &[data-text-size='18'] {
      --fs-min: token(--font-size-16);
      --fs-max: token(--font-size-18);
    }

    &[data-text-size='22'] {
      --fs-min: token(--font-size-18);
      --fs-max: token(--font-size-22);
    }

    &[data-text-size='24'] {
      --fs-min: token(--font-size-18);
      --fs-max: token(--font-size-24);
    }

    &[data-text-size='28'] {
      --fs-min: token(--font-size-22);
      --fs-max: token(--font-size-28);
    }

    &[data-text-size='32'] {
      --fs-min: token(--font-size-28);
      --fs-max: token(--font-size-32);
    }

    &[data-text-size='42'] {
      --fs-min: token(--font-size-32);
      --fs-max: token(--font-size-42);
    }

    &[data-text-size='56'] {
      --fs-min: token(--font-size-42);
      --fs-max: token(--font-size-56);
    }

    &[data-text-size='75'] {
      --fs-min: token(--font-size-56);
      --fs-max: token(--font-size-75);
    }

    &[data-text-size='100'] {
      --fs-min: token(--font-size-75);
      --fs-max: token(--font-size-100);
    }

    /* Weights */

    &[data-text-weight='light'] {
      font-weight: token(--font-weight-light);
    }

    &[data-text-weight='regular'] {
      font-weight: token(--font-weight-regular);
    }

    &[data-text-weight='semibold'] {
      font-weight: token(--font-weight-semi-bold);
    }

    &[data-text-weight='bold'] {
      font-weight: token(--font-weight-bold);
    }

    /* Responsiveness */
    &[data-text-size][data-text-responsive='true'] {
      font-size: var(--fs-min);

      @media (--from-small) {
        font-size: var(--fs-max);
      }
    }

    /* Line Height */

    &[data-text-line-height='none'] {
      line-height: 0;
    }

    &[data-text-line-height='extra-small'] {
      line-height: token(--font-lh-extra-small);
    }

    &[data-text-line-height='small'] {
      line-height: token(--font-lh-small);
    }

    &[data-text-line-height='standard'] {
      line-height: token(--font-lh-standard);
    }

    &[data-text-line-height='large'] {
      line-height: token(--font-lh-large);
    }
  }
}
