@import '../../core/utils/media.css';

.Overlay {
  position: fixed;
  inset: 0;
  background: oklch(from var(--global-background) l c h / 70%);
}

.Content {
  block-size: fit-content;
  max-block-size: 95dvh;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 100px;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.Container {
  margin: 0 auto;

  @media (--from-small) {
    max-inline-size: 600px;
    max-block-size: 30dvh;
    place-self: center center;
  }
}

.SafeGuard {
  padding-inline-start: --token(--space-24);
  padding-inline-end: --token(--space-24);
  padding-block-end: max(env(safe-area-inset-bottom), --token(--space-16));
}

.Header {
  /* background: black; */
}
