@import '../../core/utils/media.css';

.Overlay {
  position: fixed;
  inset: 0;
  background: oklch(from var(--global-background) l c h / 70%);
}

.Sheet {
  --handle-height: 22px;
  position: fixed;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(var(--max-w, 600px) + --token(--space-32));

  &[data-vaul-drawer-direction='left'] {
    top: 0;
    left: 0;
    bottom: 0;
  }

  &[data-vaul-drawer-direction='right'] {
    top: 0;
    right: 0;
    bottom: 0;
  }

  &[data-vaul-drawer-direction='top'] {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    & > * {
      @media not (--from-small) {
        width: 100%;
      }
    }
  }

  &[data-vaul-drawer-direction='bottom'] {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;

    & > * {
      @media not (--from-small) {
        width: 100%;
      }
    }
  }

  @media (--from-small) {
    &[data-vaul-drawer] {
      user-select: unset;
    }
  }
}

.Container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-w, 600px);

  [data-vaul-drawer-direction='left'] &,
  [data-vaul-drawer-direction='right'] & {
    max-inline-size: var(--max-w, 600px);
    width: calc(100vw - --token(--space-16) - --token(--space-4));
    block-size: calc(100dvh - --token(--space-16));
  }

  [data-vaul-drawer-direction='top'] &,
  [data-vaul-drawer-direction='bottom'] & {
    max-block-size: 95dvh;
    block-size: fit-content;

    @media (--from-small) {
      max-inline-size: var(--max-w, 600px);
      max-block-size: max(30dvh, 600px);
    }
  }
}

.Scroller {
  border-radius: --token(--radius-24);
  display: flex;
  flex-direction: column;
}

.SafeGuard {
  flex-grow: 1;

  &[data-sheet-scroll-inside='true'] {
    max-height: 100%;

    .Sheet[data-sheet-has-header='true'] & {
      max-height: calc(100% - var(--content-height));
    }

    .Sheet[data-sheet-has-header='true'][data-sheet-has-handle='true'] & {
      max-height: calc(100% - var(--content-height) - var(--handle-height));
    }
  }

  &[data-sheet-content-safe-padding='true'] {
    padding-block-end: max(
      min(calc(env(safe-area-inset-bottom) + --token(--space-16)), --token(--space-16)),
      --token(--space-16)
    );
  }
}

.HandleWrapper {
  height: var(--handle-height, 22px);
  background-color: var(--header-tint);
  border-radius: --token(--radius-24) --token(--radius-24) 0 0;

  & [data-vaul-handle] {
    background: var(--dimmed-3);
  }
}

.Header {
  background-color: var(--header-tint);

  &[data-sheet-sticky-header='true'] {
    position: sticky;
    top: 0;
    z-index: 1;
  }
}
