@import '../../core/utils/media.css';

.Overlay {
  position: fixed;
  inset: 0;
  background: oklch(from var(--global-background) l c h / 70%);
}

.Sheet {
  block-size: fit-content;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;

  @media (--from-small) {
    &[data-vaul-drawer] {
      user-select: unset;
    }
  }
}

.Container {
  margin: 0 auto;
  max-block-size: 95dvh;

  @media (--from-small) {
    max-inline-size: 600px;
    max-block-size: 30dvh;
    place-self: center center;
  }
}

.SafeGuard {
  &[data-modal-content-safe-padding='true'] {
    padding-block-end: max(env(safe-area-inset-bottom), --token(--space-16));
  }
}

.HandleWrapper {
  background-color: var(--header-tint);
  border-radius: --token(--radius-24) --token(--radius-24) 0 0;

  & [data-vaul-handle] {
    background: var(--dimmed-3);
  }
}

.Header {
  background-color: var(--header-tint);
}
