@layer components {

  @property --starting-angle {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }

  .Glow {
    --gradient:
 conic-gradient(
  from 180deg at 50% 70%,
      oklch(98% 0 0deg / 100%) 0deg,
      var(--highlight-cyan-foreground) 72deg,
      var(--highlight-brand-foreground) 144deg,
      var(--highlight-cyan-foreground) 216deg,
      var(--highlight-purple-foreground) 288deg,
      oklch(98% 0 0deg / 100%) 1turn
    );

    border-radius: var(--radius);
    position: relative;
    display: inline-flex;
    z-index: 0;
  }

  .Glow:is(:hover, :focus-visible) {
    z-index: 2;
  }

  .Glow::before,
  .Glow::after {
    content: '';
    position: absolute;

    /* Remove negative sign by multiplying it with -1 */
    border-radius: calc((var(--border-offset) * -1) + var(--radius));
    pointer-events: none;
    mask-composite: intersect;
    inset: var(--border-offset);
    opacity: var(--active-opacity);
    border: var(--border-width) solid transparent;
    background-attachment: fixed;
    mask-clip: padding-box, border-box;
    transition: opacity 1s;
    z-index: 1;
  }

  .Glow::before {
    background: var(--border-color);
    background-attachment: fixed;
    mask:
      linear-gradient(transparent, transparent),
      conic-gradient(
        from calc(((var(--starting-angle) + (var(--spread) * 0.25)) - (var(--spread) * 1.5)) * 1deg),
        oklch(100% 0 0deg / 15%) 0deg,
        white,
        oklch(100% 0 0deg / 15%) calc(var(--spread) * 2.5deg)
      );
    mask-clip: padding-box, border-box;
  }

  .Glow::after {
    background: var(--gradient);
    background-attachment: fixed;
    mask:
      linear-gradient(transparent, transparent),
      conic-gradient(
        from calc(((var(--starting-angle) + (var(--spread) * 0.25)) - (var(--spread) * 0.5)) * 1deg), transparent 0deg, white, transparent calc(var(--spread) * 0.5deg));
    filter: brightness(1.5);
    mask-clip: padding-box, border-box;
  }

  .Light {
    pointer-events: none;
    position: absolute;
    inset: 0;
    filter: blur(calc(var(--blur) * 1px));
  }

  .Light::after,
  .Light::before {
    content: '';
    background: var(--gradient);
    background-attachment: fixed;
    position: absolute;
    inset: var(--border-offset);
    border: var(--glow-power) solid transparent;
    border-radius: calc((var(--border-offset) * -1) + var(--radius) + (var(--glow-power) / 2));
    mask:
      linear-gradient(transparent, transparent),
      conic-gradient(from calc((var(--starting-angle) - (var(--spread) * 0.5)) * 1deg), black 0deg, white, transparent calc(var(--spread) * 1deg));
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    opacity: var(--active-opacity);
    transition: opacity 1s;
  }
}
