@import '../../core/utils/media.css';

@layer components {
  @property --starting-angle {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
  }

  .Glow {
    --gradient: var(
      --glow-color,
      conic-gradient(
        from 180deg at 50% 70%,
        --token(--color-cyan-50),
        --token(--color-brand-50),
        --token(--color-green-50),
        --token(--color-purple-50),
        --token(--color-cyan-50)
      )
    );

    border-radius: var(--radius);
    position: relative;
    z-index: 0;

    &[data-glow-fit-content='true'] {
      max-width: fit-content;
    }

    &[data-glow-rainbow='true'] {
      --gradient: conic-gradient(
        from 180deg at 50% 50%,
        --token(--color-cyan-50),
        --token(--color-brand-50),
        --token(--color-dipsy-50),
        --token(--color-red-50),
        --token(--color-indigo-50),
        --token(--color-green-50),
        --token(--color-yellow-50),
        --token(--color-purple-50),
        --token(--color-salmon-50),
        --token(--color-cyan-50)
      );
    }
  }

  .Glow::before,
  .Glow::after {
    content: '';
    position: absolute;
    z-index: 1;

    @media not (--mouse) {
      display: none;
    }
  }

  .Glow::before {
    background: var(--border-color);

    /* background-attachment: fixed; */
    mask: linear-gradient(transparent, transparent),
      conic-gradient(
        from calc(((var(--starting-angle) + (var(--spread) * 0.25)) - (var(--spread) * 1.5)) * 1deg),
        oklch(100% 0 0deg / 15%) 0deg,
        white,
        oklch(100% 0 0deg / 15%) calc(var(--spread) * 2.5deg)
      );
    mask-clip: padding-box, border-box;

    /* Remove negative sign by multiplying it with -1 */
    border-radius: calc(var(--border-offset) + var(--radius));
    pointer-events: none;
    mask-composite: intersect;
    inset: calc(var(--border-offset) * -1);
    opacity: var(--active-opacity);
    border: var(--border-width) solid transparent;
    transition: opacity 1s;
  }

  .Glow::after {
    background: var(--gradient);
    mask: linear-gradient(transparent, transparent),
      conic-gradient(
        from calc(((var(--starting-angle) + (var(--spread) * 0.25)) - (var(--spread) * 0.5)) * 1deg),
        transparent 0deg,
        white,
        transparent calc(var(--spread) * 0.5deg)
      );
    filter: brightness(1.5);
    mask-clip: padding-box, border-box;

    /* Remove negative sign by multiplying it with -1 */
    border-radius: calc(var(--border-offset) + var(--radius));
    pointer-events: none;
    mask-composite: intersect;
    inset: calc(var(--border-offset) * -1);
    opacity: var(--active-opacity);
    border: var(--border-width) solid transparent;
    transition: opacity 1s;
    background-size: calc(100% + var(--border-width) * 2) calc(100% + var(--border-width) * 2);
    background-position: calc(var(--border-width) * -1) calc(var(--border-width) * -1);
  }

  .Glow[data-glow-global='true']::after {
    background-attachment: fixed;
  }

  .Light {
    pointer-events: none;
    position: absolute;
    inset: 0;
    filter: blur(calc(var(--blur) * 1px));

    @media not (--mouse) {
      display: none;
    }
  }

  .Light::after,
  .Light::before {
    content: '';
    background: var(--gradient);
    position: absolute;
    inset: var(--border-offset);
    border: var(--glow-power) solid transparent;
    border-radius: calc((var(--border-offset) * -1) + var(--radius) + (var(--glow-power) / 2));
    mask: linear-gradient(transparent, transparent),
      conic-gradient(
        from calc((var(--starting-angle) - (var(--spread) * 0.5)) * 1deg),
        black 0deg,
        white,
        transparent calc(var(--spread) * 1deg)
      );
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    opacity: var(--active-opacity);
    transition: opacity 1s;

    .Glow[data-glow-global='true'] & {
      background-attachment: fixed;
    }
  }
}
