{
  "plugins": [
    "stylelint-design-tokens-plugin"
  ],
  "extends": [
    "stylelint-config-equinusocio"
  ],
  "rules": {
    "import-notation": "string",
    "designtokens/check": [
      true,
      "/Users/mattia/Workspaces/ui/packages/tokens/platforms/web/tokens.json"
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": [
          "token"
        ]
      }
    ]
  },
  "ignoreFiles": [
    "!**/*.css",
    "**/*.jsx",
    "**/*.tsx",
    "**/*.ts",
    "node_modules"
  ]
}
