{
  "plugins": [
    "stylelint-design-tokens-plugin"
  ],
  "extends": [
    "stylelint-config-equinusocio"
  ],
  "rules": {
    "designtokens/check": [
      true,
      "./packages/tokens/platforms/web/tokens.json"
    ],
    "function-no-unknown": [true, {
      "ignoreFunctions": ["token"]
    }]
  },
  "ignoreFiles": [
    "!**/*.css",
    "**/*.jsx",
    "**/*.tsx",
    "**/*.ts",
    "node_modules"
  ]
}
