@layer components {
  .Select {
    --field-height: token(--space-40);
    --field-padding: token(--space-16);
    --font-size: token(--font-size-16);
    --field-radius: token(--radius-16);
    --factor: 2.5;

    appearance: none;
    position: relative;
    padding: 0;

    &[data-select-is-full-width='true'] {
      inline-size: 100%;
    }
  }

  .FieldContainer {
    position: relative;
    color: var(--vibrancy-foreground);
    inline-size: 100%;
    z-index: 0;

    .Select[aria-disabled='true'] & {
      color: var(--global-disabled-foreground);
    }
  }

  .Label {
    position: absolute;
    pointer-events: none;
    top: token(--space-4);
    left: var(--field-padding);
    transform: translateZ(0);

    [data-textfield-has-icon='true'][data-textfield-icon-position='left'] & {
      right: var(--field-padding);
    }
  }

  .Field {
    --inner-border-color: var(--global-inner-contrast-border);

    margin: 0;
    text-overflow: ellipsis;
    font-size: var(--font-size);
    font-family: inherit;
    appearance: none;
    display: block;
    inline-size: 100%;
    box-sizing: border-box;
    overflow: hidden;
    color: inherit;
    min-block-size: token(--space-48);
    block-size: var(--field-height);
    font-weight: token(--font-weight-semi-bold);
    border-radius: var(--field-radius);
    border: 0;
    box-shadow: 0 0 0 1px var(--global-outer-contrast-border), inset 0 0 0 1px var(--inner-border-color);
    background:
      linear-gradient(
        to bottom,
        var(--vibrancy-background-soft),
        var(--vibrancy-background-soft)
      );
    padding:
      calc(token(--space-24) - token(--space-4))
      calc(var(--field-padding) * var(--factor))
      token(--space-4)
      var(--field-padding);

    &:disabled {
      --inner-border-color: var(--global-disabled-foreground);

      cursor: not-allowed;
      color: var(--global-disabled-foreground);
      background:
        linear-gradient(
          to bottom,
          var(--global-disabled-background),
          var(--global-disabled-background)
        );
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: var(--vibrancy-foreground);
      box-shadow: 0 0 0 100px var(--vibrancy-background-soft) inset, 0 0 0 100px var(--global-background) inset;
    }

    & option {
      color: black;
    }

    & optgroup {
      color: initial;
    }

    &[multiple] {
      block-size: auto;
      padding:
        calc(token(--space-32) - token(--space-4))
        var(--field-padding)
        token(--space-4)
        var(--field-padding);
      overflow: auto;

      & option {
        color: currentcolor;
        padding:
        calc(var(--field-padding) / 2)
        var(--field-padding)
        calc(var(--field-padding) / 2)
        0;
        font-weight: token(--font-weight-semi-bold);
      }

      & optgroup > option {
        padding: calc(var(--field-padding) / 2) var(--field-padding);
      }

      & option:checked {
        color: var(--dimmed-0);
        background: var(--dimmed-4) linear-gradient(to bottom, var(--dimmed-4) 0%, var(--dimmed-4) 100%);
        background-color: var(--dimmed-4);
      }

      & optgroup {
        color: currentcolor;
        margin: 0 0 1rem;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }

  .Icon {
    border-radius: token(--radius-4);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: calc(var(--field-padding) - calc(var(--field-padding) / 3));
  }
}
