@import '../../../core/utils/media.css';
@import '../../../core/utils/vibrancy.css';

@layer components {
  .Content {

    @mixin vibrancy;

    background-color: var(--vibrancy-background-soft);
    inline-size: 100vw;
    -webkit-overflow-scrolling: touch;
    max-block-size: 95vh;
    max-block-size: 95dvh;
    border-radius: token(--radius-24) token(--radius-24) 0 0;
    justify-self: center;
    align-self: end;
    padding-block-end: env(safe-area-inset-bottom);
    border-top: 1px solid var(--global-inner-contrast-border);
    outline: 1px solid var(--global-outer-contrast-border);

    @media (--from-small) {
      max-inline-size: 600px;
      max-block-size: 80vh;
      max-block-size: 80dvh;
      border-radius: token(--radius-24);
      justify-self: center;
      align-self: center;
      border: 1px solid var(--global-inner-contrast-border);
      outline: 1px solid var(--global-outer-contrast-border);
    }
  }

  .Scroller {
    overflow: hidden;
    overscroll-behavior: contain;

    &[data-modal-content-scroll='true'] {
      overflow: auto;
    }
  }

  .Header {
    flex-shrink: 0;
    height: token(--space-56);
    overflow: hidden;
    border-radius: token(--radius-24) token(--radius-24) 0 0;
    border-bottom: 1px solid var(--vibrancy-background-mid);
    background-color: var(--header-tint);
    position: relative;
    padding:
      token(--space-16)
      token(--space-80)
      token(--space-16)
      token(--space-24);
  }

  .CloseButton {
    position: absolute;
    top: token(--space-8);
    right: token(--space-8);
  }
}
