@define-mixin elevation-1 $color: 0% 0 0 {

  /* Default shadow offsets. */
  --x1: 0;
  --y1: 4px;

  box-shadow:
    calc(var(--x1) * var(--shadow-direction))
    calc(var(--y1) * var(--shadow-direction))
    8px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    0 0 2px oklch($color / calc(6% + var(--shadow-opacity-factor))),
    0 0 1px oklch($color / calc(4% + var(--shadow-opacity-factor)));

  &:where([data-elevation-direction='left'], [data-elevation-direction='right']) {
    --y1: 0;
    --x1: 4px;
  }
}
@define-mixin elevation-2 $color: 0deg 0% 0% {

  /* Default shadow offsets. */
  --y1: 10px;
  --y2: 2px;
  --x1: 0;
  --x2: 0;

  box-shadow:
    calc(var(--x1) * var(--shadow-direction))
    calc(var(--y1) * var(--shadow-direction))
    20px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    calc(var(--x2) * var(--shadow-direction))
    calc(var(--y2) * var(--shadow-direction))
    6px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    0 0 1px oklch($color / calc(4% + var(--shadow-opacity-factor)));

  &:where([data-elevation-direction='left'], [data-elevation-direction='right']) {
    --y1: 0;
    --y2: 0;
    --x1: 10px;
    --x2: 2px;
  }
}
@define-mixin elevation-3 $color: 0deg 0% 0% {

  /* Default shadow offsets. */
  --y1: 16px;
  --y2: 2px;
  --x1: 0;
  --x2: 0;

  box-shadow:
    calc(var(--x1) * var(--shadow-direction))
    calc(var(--y1) * var(--shadow-direction))
    24px
    oklch($color / calc(6% + var(--shadow-opacity-factor))),
    calc(var(--x2) * var(--shadow-direction))
    calc(var(--y2) * var(--shadow-direction))
    6px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    0 0 1px oklch($color / calc(4% + var(--shadow-opacity-factor)));

  &:where([data-elevation-direction='left'], [data-elevation-direction='right']) {
    --y1: 0;
    --y2: 0;
    --x1: 16px;
    --x2: 2px;
  }
}
@define-mixin elevation-4 $color: 0deg 0% 0% {

  /* Default shadow offsets. */
  --y1: 24px;
  --y2: 16px;
  --y3: 4px;
  --x1: 0;
  --x2: 0;
  --x3: 0;

  box-shadow:
    calc(var(--x1) * var(--shadow-direction))
    calc(var(--y1) * var(--shadow-direction))
    32px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    calc(var(--x2) * var(--shadow-direction))
    calc(var(--y2) * var(--shadow-direction))
    24px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    calc(var(--x2) * var(--shadow-direction))
    calc(var(--y3) * var(--shadow-direction))
    8px
    oklch($color / calc(4% + var(--shadow-opacity-factor))),
    0 0 1px oklch($color / calc(4% + var(--shadow-opacity-factor)));

  &:where([data-elevation-direction='left'], [data-elevation-direction='right']) {
    --y1: 0;
    --y2: 0;
    --y3: 0;
    --x1: 24px;
    --x2: 16px;
    --x3: 4px;
  }
}
