@layer utilities {
  [data-shrink='false'] {
    flex-shrink: 0;
  }

  [data-shrink='true'] {
    flex-shrink: 1;
  }

  [data-grow='false'] {
    flex-grow: 0;
  }

  [data-grow='true'] {
    flex-grow: 1;
  }

  [data-visually-hidden='true'] {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}
