@layer utilities {
  [data-shrink='false'] {
    flex-shrink: 0;
  }

  [data-shrink='true'] {
    flex-shrink: 1;
  }

  [data-grow='false'] {
    flex-grow: 0;
  }

  [data-grow='true'] {
    flex-grow: 1;
  }
}
