@layer utilities {
  [data-shrink='0'] {
    flex-shrink: 0;
  }

  [data-shrink='1'] {
    flex-shrink: 1;
  }

  [data-grow='0'] {
    flex-grow: 0;
  }

  [data-grow='1'] {
    flex-grow: 1;
  }
}
