@layer components {
  .Textarea {
    --factor: 3.5;
    --field-padding: token(--space-16);
    --font-size: token(--font-size-16);

    appearance: none;
    position: relative;
    padding: 0;

    &[data-textfield-fullwidth='true'] {
      inline-size: 100%;
    }
  }

  .FieldContainer {
    position: relative;
    z-index: 0;
  }

  .Label {
    position: absolute;
    pointer-events: none;
    top: token(--space-4);
    left: var(--field-padding);
    right: var(--field-padding);
    transform: translateZ(0);

    .Field:where(:user-invalid) + & {
      color: var(--highlight-red-foreground);
    }
  }
}
