
  .Snaplist {
    -webkit-overflow-scrolling: touch;
    overflow: auto hidden;
    scroll-snap-type: x var(--snap-type);
    scroll-padding: var(--scroll-padding);
    overscroll-behavior-x: contain;
    margin: 0 calc(var(--bleed, 0) * -1);
    -ms-overflow-style: none;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border: 1px solid transparent;
    }
  }

  .Slide {
    scroll-snap-align: var(--snap-align);
    min-width: max-content;
  }
