@import '../../core/utils/media.css';

@layer components {
  .Drawer {
    display: contents;
  }

  .Container {
    position: absolute;
    display: grid;
    inset: 0;
    pointer-events: none;
    align-items: stretch;

    &[data-drawer-side='right'] {
      justify-content: flex-end;
    }

    &[data-drawer-side='left'] {
      justify-content: flex-start;
    }

    & > * {
      pointer-events: auto;
    }
  }

  .Content {
    --safe-padding: calc(env(safe-area-inset-bottom, 0) * 0.7);

    inline-size: 100vw;
    max-inline-size: var(--max-w);
    height: 100dvh;

    &[data-drawer-content-safe-padding='true'] {
      padding-block-end: max(env(safe-area-inset-bottom), var(--safe-padding));
    }
  }

  .Scroller {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    overflow: auto;
    min-height: 100%;

    & > * {
      min-height: 100%;
      height: 100%;
    }
  }

  .Header {
    max-height: token(--space-72);
    padding:
      calc(env(safe-area-inset-top) + token(--space-16))
      calc(env(safe-area-inset-right) + token(--space-16))
      calc(env(safe-area-inset-bottom) + token(--space-16))
      calc(env(safe-area-inset-left) + token(--space-24));
  }
}
@layer overrides {
  .CloseButton {
    flex-grow: 0;
  }
}
