@layer components {
  .Menu {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    border-radius: inherit;

    &[data-menu-should-scroll='true'] {
      max-height: var(--max-height);
      overflow: auto;
    }

    & hr {
      margin: 0 --token(--space-8);
    }
  }
}
