/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .Menu {
    list-style-type: none;
    overflow: hidden;
    position: relative;
    border-radius: inherit;

    &[data-menu-should-scroll='true'] {
      max-height: var(--max-height);
      overflow: auto;
    }

    & hr {
      margin: 0 --token(--space-8);
    }
  }
}
