@layer components {
  .Masonry {
    display: flex;
    width: auto;
    grid-gap: var(--gap);
  }

  .Column {
    background-clip: padding-box;

    & > * {
      margin-bottom: var(--gap);
    }
  }
}
