@layer components {
  .EmojiRender span {
    vertical-align: middle;
  }
}

@layer overrides {
  .ColorSwatch {
    border-radius: 1e5px;
    background: var(--swatch-background);
    border: 1px solid var(--global-inner-contrast-border);
    box-shadow: 0 0 0 1px var(--global-outer-contrast-border);
    width: 24px;
    height: 24px;
  }
}
