[data-elevation] {
  --shadow-color: 0deg 0% 0%;
}

[data-elevation='0'],
[data-elevation-hover='0']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);
  box-shadow: none;
}

[data-elevation='1'],
[data-elevation-hover='1']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);
  box-shadow:
    0 4px 8px hsl(var(--shadow-color) / 4%),
    0 0 2px hsl(var(--shadow-color) / 6%),
    0 0 1px hsl(var(--shadow-color) / 0.04%);
}

[data-elevation='2'],
[data-elevation-hover='2']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);
  box-shadow:
    0 10px 20px hsl(var(--shadow-color)  / 4%),
    0 2px 6px hsl(var(--shadow-color)  / 4%),
    0 0 1px hsl(var(--shadow-color)  / 4%);
}

[data-elevation='3'],
[data-elevation-hover='3']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);
  box-shadow:
    0 16px 24px hsl(var(--shadow-color) / 6%),
    0 2px 6px hsl(var(--shadow-color) / 4%),
    0 0 1px hsl(var(--shadow-color) / 4%);
}

[data-elevation='4'],
[data-elevation-hover='4']:hover {
  transition: box-shadow token(--duration-100) token(--easing-standard);
  box-shadow:
    0 24px 32px hsl(var(--shadow-color) / 4%),
    0 16px 24px hsl(var(--shadow-color) / 4%),
    0 4px 8px hsl(var(--shadow-color) / 4%),
    0 0 1px hsl(var(--shadow-color) / 4%);
}
