/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .SwipeRow {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  .ActionsContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }

  .Trigger {
    position: relative;
    z-index: 1;
    width: 100%;

    & > * {
      width: 100%;
    }
  }

  .Action {
    height: 100%;
    display: flex;
    flex-grow: 1;
    transform-origin: center center;
  }
}
