/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@import '../../core/utils/media.css';

@layer components {
  .Autocomplete {
    display: unset;
  }

  .OptionsList {
    max-block-size: var(--max-h);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    min-inline-size: var(--radix-popover-trigger-width);

    @media (--from-small) {
      padding-block-end: var(--sheet-safe-padding-bottom, 8px);
    }

    &[data-autocomplete-match-width='true'] {
      inline-size: var(--radix-popover-trigger-width);
    }
  }
}
