@layer components {
  .Autocomplete {
    display: unset;
  }

  .OptionsList {
    max-block-size: var(--max-h);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;

    &[data-autocomplete-match-width='true'] {
      width: var(--radix-popover-trigger-width);
    }
  }
}
