@layer components {
  .Autocomplete {
    display: unset;
  }

  .OptionsList {
    max-block-size: var(--max-h);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    min-inline-size: var(--radix-popover-trigger-width);
    padding-block-end: max(var(--sheet-safe-padding-bottom, 0px), --token(--space-8));

    &[data-autocomplete-match-width='true'] {
      inline-size: var(--radix-popover-trigger-width);
    }
  }
}
