@layer components {
  .SelectionControl {
    --invalid-foreground: var(--highlight-yellow-foreground);
    --invalid-background: var(--vibrancy-background-yellow);
  }

  .InputWrapper {
    line-height: 0;
  }

  .CheckboxInput {
    --w: 24px;
    --h: 24px;

    appearance: none;
    inline-size: var(--w);
    block-size: var(--h);
    max-inline-size: var(--w);
    max-block-size: var(--h);
    color: var(--cta-foreground);
    border-radius: token(--radius-8);
    position: relative;
    background-color: var(--vibrancy-background-hard);
    box-shadow: 0 0 0 1px var(--global-outer-contrast-border), inset 0 0 0 1px var(--global-inner-contrast-border);
    flex-shrink: 0;
    flex-grow: 0;
    margin: 1px;
    backdrop-filter: brightness(1.35);

    &::after {
      content: '';
      display: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -80%) rotate(-45deg);
      inline-size: 50%;
      block-size: 27%;
      border-left: 2px solid currentcolor;
      border-bottom: 2px solid currentcolor;
    }

    &:active {
      background-color: var(--vibrancy-background-mid);
    }

    &:checked,
    &:indeterminate {
      background: var(--cta-dark);
      box-shadow: 0 0 0 1px var(--global-outer-contrast-border);

      &::after {
        display: block;
      }
    }

    &:disabled {
      color: var(--global-disabled-foreground);
      background-color: var(--global-disabled-background);
      box-shadow: none;
      cursor: not-allowed;
    }

    &[data-control-dimension='small'] {
      --w: 16px;
      --h: 16px;

      border-radius: token(--radius-4);
    }

    &:indeterminate::after {
      border-left: 0;
      block-size: 2px;
      transform: translate(-50%, -50%);
    }

    &:user-invalid,
    .InputWrapper[data-selection-control-invalid='true'] & {
      box-shadow: 0 0 0 2px var(--invalid-foreground);
    }
  }

  .Label {
    user-select: none;
  }
}
@layer overrides {
  .RadioInput {

    /* stylelint-disable-next-line value-keyword-case */
    composes: CheckboxInput;
    border-radius: 100%;

    &:checked,
    &:indeterminate {
      background: var(--cta-dark);
      box-shadow: 0 0 0 1px var(--global-outer-contrast-border);

      &::after {
        display: block;
      }
    }

    &:indeterminate::after {
      border-left: 0;
      block-size: 2px;
      transform: translate(-50%, -50%);
    }

    &::after {
      border: 0;
      border-radius: 100%;
      transform: translate(-50%, -50%);
      inline-size: 50%;
      block-size: 50%;
      background-color: currentcolor;
    }
  }
}
