@import '../../core/utils/vibrancy.css';

@layer components {
  .Switch {

    @mixin vibrancy;

    appearance: none;
    display: inline-flex;
    margin: 0;
    border: 0;
    padding: var(--padding);
    max-block-size: token(--space-24);
    background-color: var(--vibrancy-background-mid);
    box-shadow: 0 0 0 1px var(--global-background), inset 0 0 0 1px var(--dimmed-2);
    color: var(--dimmed-6);
    border-radius: 1e5px;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;

    &:is([data-state='checked']) {
      background: var(--cta-dark);
      color: oklch(token(--color-support-white));
      box-shadow: 0 0 0 1px var(--global-background), inset 0 0 0 1px var(--cta-default);
      justify-content: flex-end;
    }

    &[data-disabled] {
      background-color: var(--global-disabled-background);
      color: var(--global-disabled-foreground);
      cursor: not-allowed;
    }

    &[data-switch-dimension='small'] {
      --padding: 2px;
      --thumb-size: 0.55rem;

      inline-size: 1.55rem;
      block-size: token(--space-16);
    }

    &[data-switch-dimension='regular'] {
      --padding: 4px;
      --thumb-size: 0.94rem;

      inline-size: 2.44rem;
      block-size: token(--space-24);
      max-block-size: token(--space-24);
    }

    &[data-switch-dimension='big'] {
      --padding: 5px;
      --thumb-size: 1.33rem;

      inline-size: 3.22rem;
      block-size: token(--space-32);
      max-block-size: token(--space-32);
    }
  }

  .Thumb {
    background-color: currentcolor;
    border-radius: 100%;
    block-size: var(--thumb-size);
    inline-size: var(--thumb-size);
  }
}
