@layer components {
  .LinkedPanel {
    isolation: isolate;
  }

  .Link {
    position: absolute;
    inset: 0;
    z-index: 1;
    border-radius: inherit;
    color: inherit;

    &:focus-visible {
      outline: --token(--space-2) solid var(--global-interactive-text);
      outline-offset: --token(--space-2);
    }
  }

  .Action {
    position: relative;
    z-index: 2;
  }
}
