@layer components {
  .Chip {
    font: unset;
    padding: 0 token(--space-8);
    border-radius: 1e5px;
    font-size: token(--font-size-16);
    block-size: token(--space-24);
    max-width: 100%;
    background-color: var(--background, var(--highlight-gray-background));
    color: var(--foreground, var(--highlight-gray-foreground));

    & > b {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    &:where(button) {
      appearance: none;
      border: 0;
      cursor: pointer;
    }

    &[data-chip-dimension='small'] {
      block-size: token(--space-16);
      font-size: token(--font-size-14);
      padding: 10px token(--space-8);
    }

    &[data-chip-dimension='big'] {
      font-size: token(--font-size-18);
      block-size: token(--space-32);
    }
  }

  .Action {
    display: inline-flex;
    appearance: none;
    border: 0;
    background: none;
    padding: 0;
    color: inherit;
    font: inherit;
    margin-top: 1px;
    cursor: pointer;
  }

  .Icon {
    flex-shrink: 0;
  }
}
