/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .SkeletonItem {
    --base-color: light-dark(var(--dimmed-1), var(--dimmed-0));
    --highlight-color: light-dark(var(--dimmed-0), var(--dimmed-1));
    --animation-duration: 1.5s;
    --animation-direction: normal;

    background-color: var(--base-color);
    width: var(--width, 100%);
    height: var(--height);
    border-radius: var(--radius, --token(--radius-32));
    display: inline-flex;
    line-height: 1;
    position: relative;
    overflow: hidden;

    & + & {
      margin-left: var(--gap, 0);
    }

    & + br + & {
      margin-top: var(--gap, 0);
    }

    &::after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 100%;
      background-repeat: no-repeat;
      background-image:
        linear-gradient(
          to right,
          var(--base-color),
          var(--highlight-color),
          var(--base-color)
        );
      transform: translateX(-100%);
    }

    &[data-skeleton-animated='true']::after {
      animation-name: skeleton-shimmer;
      animation-direction: normal;
      animation-duration: 1.5s;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
    }

    &[data-skeleton-circle='true'] {
      border-radius: 100%;
    }
  }
}

@keyframes skeleton-shimmer {
  100% {
    transform: translateX(100%);
  }
}
