/* stylelint-disable declaration-no-important */

@layer components {
  .SkeletonItem {
    --base-color: var(--dimmed-1);
    --highlight-color: var(--dimmed-2);
    --animation-duration: 1.5s;
    --animation-direction: normal;

    background-color: var(--base-color);
    width: var(--width, 100%);
    height: var(--height);
    border-radius: var(--radius, token(--radius-32));
    display: inline-flex;
    line-height: 1;
    position: relative;
    overflow: hidden;

    & + & {
      margin-left: var(--gap, 0);
    }

    & + br + & {
      margin-top: var(--gap, 0);
    }

    &[data-skeleton-animated='true'] {
      animation-name: skeleton-pulse;
      animation-direction: alternate-reverse;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    &[data-skeleton-circle='true'] {
      border-radius: 100%;
    }

    &[data-skeleton-children='true'] {
      max-width: var(--width, max-content);
      line-height: unset;

      /**
        * Hide skeleton children and text content
        */
      &,
      & > * {
        background-image: none !important;
        background-clip: initial !important;
        border: none !important;
        box-shadow: none !important;
        box-decoration-break: clone !important;
        color: transparent !important;
        outline: none !important;
        pointer-events: none !important;
        user-select: none !important;
        cursor: default !important;
      }

      & > * {
        visibility: hidden;
      }
    }
  }
}

@keyframes skeleton-pulse {
  from {
    background-color: var(--base-color);
  }

  to {
    background-color: var(--highlight-color);
  }
}
