.Brush {
  fill: red;

  & > rect:first-of-type {
    fill: var(--dimmed-1);
    stroke: var(--global-inner-contrast-border);
    filter: drop-shadow(0 0 1px oklab(from black l a b / 50%));
  }

  & > rect:last-of-type {
    fill-opacity: 0.4;
  }
}
