@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--blocks hgroup, ul, ol, dd, p, figure, img, pre, table, fieldset, blockquote, picture, div;

@layer components {
  .Prose {
    --blocks-gap: 2em;
    --start-gap: 1.3em;
    --end-gap: 0.8em;

    &[data-prose-balanced='true'] {
      text-wrap: balance;
      display: block;
    }

    &[data-prose-gap='regular'] {
      --blocks-gap: 1.5em;
      --start-gap: 1em;
      --end-gap: 0.6em;
    }

    &[data-prose-gap='small'] {
      --blocks-gap: 1em;
      --start-gap: 0.7em;
      --end-gap: 0.3em;
    }

    & > :where(:--headings, :--blocks):where(:not(:first-child)) {
      margin-block: var(--blocks-gap);
    }

    & > :where(:--headings) + * {
      margin-block-start: var(--start-gap);
    }

    & > :where(:--headings) {
      margin-block-end: var(--end-gap);
    }
  }
}
