@custom-selector :--headings h1, h2, h3, h4, h5, h6;
@custom-selector :--blocks hgroup, ul, ol, dd, p, figure, img, pre, table, fieldset, blockquote, picture;

@layer components {
  .Prose {
    & > :where(:--headings, :--blocks):where(:not(:first-child)) {
      margin-block: 2em;
    }

    & > :where(:--headings) + * {
      margin-block-start: 1.3em;
    }

    & > :where(:--headings) {
      margin-block-end: 0.8em;
    }
  }
}
