@layer components {
  .Tabs {
    max-width: 100%;
  }

  .List {
    --separator-size: 2px;

    box-shadow: inset 0 calc(var(--separator-size) * -1) 0 var(--dimmed-1);
    white-space: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      display: none;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      border-radius: 6px;
      border: 3px solid transparent;
    }
  }

  .Trigger {
    position: relative;
    overflow: unset;
    border-radius: 0;
    backdrop-filter: none;
    background: none;
    font-weight: token(--font-weight-semi-bold);
    outline-offset: calc((var(--separator-size) * 2) * -1);
    color: var(--dimmed-6);
    appearance: none;
    padding: token(--space-8) token(--space-16);
    block-size: token(--space-48);
    border: 0;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    white-space: nowrap;
    flex-shrink: 0;

    &:not([aria-disabled='true']) {
      color: var(--dimmed-5);
    }

    &.Trigger:not([aria-disabled='true']):is(:hover, :focus, :active) {
      background: none;
      color: var(--global-foreground);
      backdrop-filter: none;
    }

    &.Trigger[aria-disabled='true'] {
      background: none;
      color: var(--global-disabled-foreground);
      backdrop-filter: none;
    }
  }

  .Label {

    @nest .Trigger[data-state='active'] & {
      color: var(--global-foreground);
    }
  }

  .Highlight {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--separator-size);
    background: hsl(token(--color-cyan-40));
    pointer-events: none;

    &[data-highlight-alt] {
      background: var(--cta-default);
      z-index: 1;
    }
  }
}
