@import '../../core/utils/vibrancy.css';

@layer components {
  .Button {
    --border-opacity: 40%;

    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    min-inline-size: min-content;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    appearance: none;
    font-weight: token(--font-weight-bold);
    overflow: hidden;
    background: var(--background);
    gap: token(--space-8);
    position: relative;
    box-shadow:
    inset 0 0 0 1px color-mix(in oklab, var(--border-color), transparent calc(100% - var(--border-opacity))),
    inset 0 0 0 3px color-mix(in oklab, var(--global-background), transparent 40%);

    /* Sizes */

    &[data-button-dimension='big'] {
      padding: 0.55rem token(--space-24) 0.66rem;
      font-size: token(--font-size-18);
      block-size: token(--space-48);
      border-radius: token(--radius-16);
    }

    &[data-button-dimension='regular'] {
      padding: 0.33rem token(--space-16) token(--space-8);
      font-size: token(--font-size-16);
      block-size: token(--space-40);
      border-radius: token(--radius-16);
    }

    &[data-button-dimension='small'] {
      font-size: token(--font-size-14);
      padding: 0 token(--space-8);
      block-size: token(--space-24);
      gap: token(--space-4);
      border-radius: token(--radius-8);
    }

    /* Types */

    &[data-button-kind='primary'] {
      --foreground: var(--border-color);
      --background: var(--vibrancy-background-brand);
      --shine-color: var(--highlight-brand-foreground);
      --border-color: var(--cta-default);
      --glow-color: color-mix(in oklab, var(--highlight-brand-foreground), transparent 70%);
      --shine-position: 65%;

      @mixin vibrancy;

      transition: all 0.2s ease-out;
      color: var(--foreground);

      &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 40%;
        background: radial-gradient(circle at center, var(--shine-color), color-mix(in oklab, var(--border-color), transparent calc(100% - var(--border-opacity))));
        right: 15%;
        transition: right 0.2s ease-out;
        box-shadow: 0 -10px 20px 15px var(--glow-color);
        top: 0;
      }

      &:hover {
        --shine-position: 45%;
      }

      &:hover::after {
        right: 45%;
      }

      &:not([aria-disabled='true'])[data-button-sentiment='positive'] {
        --border-color: var(--highlight-green-foreground);
        --glow-color: var(--vibrancy-background-green);
        --background: var(--vibrancy-background-green);
        --shine-color: var(--highlight-green-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='warning'] {
        --border-color: var(--highlight-yellow-foreground);
        --glow-color: var(--vibrancy-background-yellow);
        --background: var(--vibrancy-background-yellow);
        --shine-color: var(--highlight-yellow-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='danger'] {
        --border-color: var(--highlight-red-foreground);
        --glow-color: var(--vibrancy-background-red);
        --background: var(--vibrancy-background-red);
        --shine-color: var(--highlight-red-foreground);
      }

      &:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        --border-opacity: 70%;
      }
    }

    &[data-button-kind='secondary'] {

      @mixin vibrancy;

      --border-color: var(--highlight-gray-foreground);
      --background: transparent;

      color: var(--dimmed-6);

      &:not([aria-disabled='true'])[data-button-sentiment='positive'] {
        --border-color: var(--highlight-green-foreground);

        color: var(--highlight-green-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='warning'] {
        --border-color: var(--highlight-yellow-foreground);

        color: var(--highlight-yellow-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='danger'] {
        --border-color: var(--highlight-red-foreground);

        color: var(--highlight-red-foreground);
      }

      &:not([aria-disabled='true'], [aria-busy='true'], [data-button-sentiment]):is(:hover) {
        --background: var(--vibrancy-background-mid);
      }

      &[data-button-sentiment='positive']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        --background: var(--vibrancy-background-green);
      }

      &[data-button-sentiment='warning']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        --background: var(--vibrancy-background-yellow);
      }

      &[data-button-sentiment='danger']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        --background: var(--vibrancy-background-red);
      }
    }

    &[data-button-kind='flat'] {
      color: var(--global-foreground);
      box-shadow: none;

      &:not([aria-disabled='true'])[data-button-sentiment='positive'] {
        color: var(--highlight-green-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='warning'] {
        color: var(--highlight-yellow-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='danger'] {
        color: var(--highlight-red-foreground);
      }


      &:not([aria-disabled='true'], [aria-busy='true'], [data-button-sentiment]):is(:hover) {

        @mixin vibrancy;

        background-color: var(--vibrancy-background-mid);
        color: var(--vibrancy-foreground);
      }

      &[data-button-sentiment='positive']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background-color: var(--vibrancy-background-green);
      }

      &[data-button-sentiment='warning']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background-color: var(--vibrancy-background-yellow);
      }

      &[data-button-sentiment='danger']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background-color: var(--vibrancy-background-red);
      }
    }

    /* Styles */

    &[data-button-fullwidth='true'] {
      inline-size: 100%;
    }

    &[data-button-icon-position='end'] {
      flex-direction: row-reverse;
    }

    &[aria-disabled='true'],
    &[aria-disabled='true']:is(:hover, :focus, :active) {

      @mixin vibrancy;

      color: var(--global-disabled-foreground);
      background: var(--global-disabled-background);
      cursor: not-allowed;
    }

    &[aria-busy='true'] {
      box-shadow: none;
      position: relative;

      & > :not(.SpinnerIndicator) {
        visibility: hidden;
      }
    }
  }

  .SpinnerIndicator {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
  }
}
