@import '../../core/utils/vibrancy.css';

@layer components {
  .Button {
    box-sizing: border-box;
    user-select: none;
    -webkit-touch-callout: none;
    margin: 0;
    cursor: pointer;
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    min-inline-size: min-content;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    appearance: none;
    font-weight: token(--font-weight-bold);
    overflow: hidden;
    background: none;
    gap: token(--space-8);
    position: relative;

    /* Sizes */

    &[data-button-dimension='big'] {
      padding: 0.55rem token(--space-24) 0.66rem;
      font-size: token(--font-size-18);
      block-size: token(--space-48);
      border-radius: token(--radius-16);
    }

    &[data-button-dimension='regular'] {
      padding: 0.33rem token(--space-16) token(--space-8);
      font-size: token(--font-size-16);
      block-size: token(--space-40);
      border-radius: token(--radius-16);
    }

    &[data-button-dimension='small'] {
      font-size: token(--font-size-14);
      padding: 0 token(--space-8);
      block-size: token(--space-24);
      gap: token(--space-4);
      border-radius: token(--radius-8);
    }

    /* Types */

    &[data-button-kind='primary'] {
      --border-color: var(--cta-default);
      --background-color: var(--vibrancy-background-brand);
      --shine-color: var(--highlight-brand-foreground);
      --border-opacity: 40%;
      --foreground: var(--vibrancy-foreground);

      @mixin vibrancy;

      box-shadow: inset 0 0 0 1px color-mix(in oklch, var(--border-color), transparent calc(100% - var(--border-opacity)));
      background: radial-gradient(50% 70% at 65% 0%, var(--background-color), transparent);
      transition: all 0.2s ease-out;
      color: var(--foreground);

      &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 40%;
        background: linear-gradient(to right, transparent 0%, var(--shine-color) 50%, transparent);
        right: 15%;
        transition: right 0.2s ease-out;
        top: 0;
      }

      &:hover {
        background: radial-gradient(50% 70% at 45% 0%, var(--background-color), transparent);
      }

      &:hover::after {
        right: 45%;
      }

      &:not([aria-disabled='true'])[data-button-sentiment='positive'] {
        --border-color: var(--highlight-green-foreground);
        --background-color: var(--vibrancy-background-green);
        --shine-color: var(--highlight-green-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='warning'] {
        --border-color: var(--highlight-yellow-foreground);
        --background-color: var(--vibrancy-background-yellow);
        --shine-color: var(--highlight-yellow-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='danger'] {
        --border-color: var(--highlight-red-foreground);
        --background-color: var(--vibrancy-background-red);
        --shine-color: var(--highlight-red-foreground);
      }

      &:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        --border-opacity: 70%;
      }
    }

    &[data-button-kind='secondary'] {

      @mixin vibrancy;

      background-color: var(--vibrancy-background-mid);
      color: var(--vibrancy-foreground);

      &:not([aria-disabled='true'])[data-button-sentiment='positive'] {
        background: var(--vibrancy-background-green);
        color: var(--highlight-green-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='warning'] {
        background: var(--vibrancy-background-yellow);
        color: var(--highlight-yellow-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='danger'] {
        background: var(--vibrancy-background-red);
        color: var(--highlight-red-foreground);
      }

      &:not([aria-disabled='true'], [aria-busy='true'], [data-button-sentiment]):is(:hover) {
        background-color: var(--vibrancy-background-hard);
        color: var(--vibrancy-foreground);
      }

      &[data-button-sentiment='positive']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background: var(--highlight-green-background);
      }

      &[data-button-sentiment='warning']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background: var(--highlight-yellow-background);
      }

      &[data-button-sentiment='danger']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background: var(--highlight-red-background);
      }
    }

    &[data-button-kind='flat'] {
      color: var(--global-foreground);

      &:not([aria-disabled='true'])[data-button-sentiment='positive'] {
        color: var(--highlight-green-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='warning'] {
        color: var(--highlight-yellow-foreground);
      }

      &:not([aria-disabled='true'])[data-button-sentiment='danger'] {
        color: var(--highlight-red-foreground);
      }


      &:not([aria-disabled='true'], [aria-busy='true'], [data-button-sentiment]):is(:hover) {

        @mixin vibrancy;

        background-color: var(--vibrancy-background-mid);
        color: var(--vibrancy-foreground);
      }

      &[data-button-sentiment='positive']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background-color: var(--vibrancy-background-green);
      }

      &[data-button-sentiment='warning']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background-color: var(--vibrancy-background-yellow);
      }

      &[data-button-sentiment='danger']:not([aria-disabled='true'], [aria-busy='true']):is(:hover) {
        background-color: var(--vibrancy-background-red);
      }
    }

    /* Styles */

    &[data-button-fullwidth='true'] {
      inline-size: 100%;
    }

    &[data-button-icon-position='end'] {
      flex-direction: row-reverse;
    }

    &[aria-disabled='true'],
    &[aria-disabled='true']:is(:hover, :focus, :active) {

      @mixin vibrancy;

      color: var(--global-disabled-foreground);
      background: var(--global-disabled-background);
      cursor: not-allowed;
    }

    &[aria-busy='true'] {
      box-shadow: none;
      position: relative;

      & > :not(.SpinnerIndicator) {
        visibility: hidden;
      }
    }
  }

  .SpinnerIndicator {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
  }
}
