@layer components {
  .IconChip {
    border-radius: calc(token(--radius-8) + token(--radius-4));
    block-size: var(--size, token(--space-40));
    inline-size: var(--size, token(--space-40));
    flex-shrink: 0;
    background-color: var(--background, var(--highlight-gray-background));
    color: var(--foreground, var(--highlight-gray-foreground));

    &[data-chip-dimension='small'] {
      --size: token(--space-24);

      border-radius: token(--radius-8);
    }

    &[data-chip-dimension='big'] {
      border-radius: token(--radius-16);

      --size: token(--space-48);
    }
  }
}
