@layer components {
  .InlineToast {
    overflow: hidden;
    display: block;

    &[data-toast-kind='neutral'] {
      --toast-fg: var(--global-foreground);
      --toast-action-fg: var(--global-background);
    }

    &[data-toast-kind='positive'] {
      --toast-fg: var(--highlight-green-foreground);
      --toast-action-fg: var(--highlight-green-background);
    }

    &[data-toast-kind='warning'] {
      --toast-fg: var(--highlight-yellow-foreground);
      --toast-action-fg: var(--highlight-yellow-background);
    }

    &[data-toast-kind='info'] {
      --toast-fg: var(--highlight-blue-foreground);
      --toast-action-fg: var(--highlight-blue-background);
    }

    &[data-toast-kind='danger'] {
      --toast-fg: var(--highlight-red-foreground);
      --toast-action-fg: var(--highlight-red-background);
    }
  }

  .Icon {
    color: var(--toast-fg);
    flex-shrink: 0;
    flex-grow: 0;
  }


  .Viewport {
    --viewport-padding: token(--space-24);

    display: flex;
    flex-direction: column;
    gap: token(--space-8);
    position: fixed;
    inset: auto 0 0 auto;
    padding: var(--viewport-padding);
    list-style: none;
  }

  .ToastRoot[data-state='open'] {
    animation: slide-in 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .ToastRoot[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }

  .ToastRoot[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform 200ms ease-out;
  }

  .ToastRoot[data-swipe='end'] {
    animation: swipe-out 100ms ease-out;
  }
}
@layer overrides {
  .Title {
    color: var(--toast-fg);
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes swipe-out {
  0% {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }

  100% {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

