/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer overrides {
  .IconButton {
    padding: 0;

    &[data-button-dimension='small'] {
      inline-size: --token(--space-24);
      min-inline-size: --token(--space-24);
      padding: 0;
    }

    &[data-button-dimension='regular'] {
      inline-size: --token(--space-40);
      min-inline-size: --token(--space-40);
      padding: 0;
    }

    &[data-button-dimension='big'] {
      inline-size: --token(--space-48);
      min-inline-size: --token(--space-48);
      padding: 0;
    }
  }
}
