@layer components {
  .ToggleButton {
    transition: box-shadow token(--duration-100) token(--easing-entrance);
    line-height: 0;
  }
}
@layer overrides {
  .ToggleButton[aria-pressed='true'] {
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color), 0 0 0 var(--border-width) var(--border-color);

    &::after {
      opacity: 0%;
    }
  }

  .ToggleButton[data-button-kind='primary'] {
    --border-color: oklch(from token(--color-brand-60) l c h / 60%);

    &[aria-pressed='true'] {
      color: var(--global-foreground);
      background: none;
    }

    &[aria-pressed='true']:hover {
      color: var(--global-foreground);
      background: none;
    }
  }

  .ToggleButton[data-button-kind='secondary'] {
    --border-color: var(--dimmed-5);

    &[aria-pressed='true'] {
      --border-color: var(--dimmed-5);

      color: var(--global-vibrancy-foreground);
      background: none;
    }
  }

  .ToggleButton[data-button-kind='flat'] {
    --border-color: var(--dimmed-5);

    &[aria-pressed='true'] {
      color: var(--global-vibrancy-foreground);
      background: none;
    }
  }

  .ToggleButton[data-button-dimension='small'] {
    --border-width: 1px;
  }

  .ToggleButton[data-button-dimension='regular'] {
    --border-width: 2px;
  }

  .ToggleButton[data-button-dimension='big'] {
    --border-width: 2px;
  }
}
