/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .Separator {
    border: 0;
    margin: var(--v-padding, 0) var(--h-padding);

    &[data-separator-vertical='false'] {
      block-size: 1px;
      border-bottom: 1px solid var(--color);
    }

    &[data-separator-vertical='true'] {
      inline-size: 1px;
      height: auto;
      block-size: auto;
      border-right: 1px solid var(--color);
      border-bottom: 0;
    }
  }
}
