@layer components {
  .Avatar {
    --size: token(--space-24);

    position: relative;
    inline-size: var(--size);
    aspect-ratio: 1 / 1;
    border-radius: token(--radius-8);
    overflow: hidden;
    background-color: var(--highlight-brand-background);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    user-select: none;

    &[data-avatar-dimension='regular'] {
      --size: token(--space-40);

      border-radius: token(--radius-16);
    }

    &[data-avatar-dimension='big'] {
      --size: token(--space-48);

      border-radius: token(--radius-16);
    }

    & img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      max-width: 100%;
    }
  }

  .Placeholder {
    height: calc(var(--size) - 25%);
  }
}
