@import './avatar.theme.css' layer(components);

@layer components {
  .Avatar {
    --size: var(--theme-small-size);

    position: relative;
    inline-size: var(--size);
    aspect-ratio: 1 / 1;
    border-radius: token(--radius-8);
    overflow: hidden;
    background-color: var(--theme-background);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    user-select: none;

    &[data-avatar-dimension='regular'] {
      --size: var(--theme-regular-size);

      border-radius: token(--radius-16);
    }

    &[data-avatar-dimension='big'] {
      --size: var(--theme-big-size);

      border-radius: token(--radius-16);
    }

    & img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      max-width: 100%;
    }
  }

  .Placeholder {
    height: calc(var(--size) - 25%);
  }
}
