/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .Panel {
    background: var(--background);
    position: relative;
    padding: var(--v-padding-top, 0) var(--h-padding-right, 0) var(--v-padding-bottom, 0) var(--h-padding-left, 0);

    &[data-panel-hover='true']:where(:hover, :focus-visible, :focus-within) {
      background: var(--background-hover, var(--background));
    }

    &[data-panel-radius='true'] {
      border-radius: var(--radius);
    }

    &[data-panel-bordered='true'][data-panel-border-side='all'] {
      border: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='top'] {
      border-block-start: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='bottom'] {
      border-block-end: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='left'] {
      border-inline-start: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='right'] {
      border-inline-end: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true']::after {
      content: '';
      border-radius: inherit;
      position: absolute;
      inset: 0;
      pointer-events: none;
    }

    &[data-panel-bordered='true'][data-panel-border-side='all']::after {
      box-shadow: inset 0 0 0 1px var(--global-inner-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='top']::after {
      box-shadow: inset 0 1px 0 0 var(--global-inner-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='bottom']::after {
      box-shadow: inset 0 -1px 0 0 var(--global-inner-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='left']::after {
      box-shadow: inset 1px 0 0 0 var(--global-inner-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='right']::after {
      box-shadow: inset -1px 0 0 0 var(--global-inner-contrast-border);
    }
  }

  .Backdrop {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
  }
}
