@layer components {
  .Panel {
    position: relative;
    padding: var(--v-padding, 0) var(--h-padding, 0);

    &[data-panel-radius='true'] {
      border-radius: var(--radius);
    }

    &[data-panel-bordered='false'] {
      background: var(--background);
    }

    &[data-panel-bordered='true'][data-panel-border-side='all'] {
      border: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='top'] {
      border-block-start: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='bottom'] {
      border-block-end: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='left'] {
      border-inline-start: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true'][data-panel-border-side='right'] {
      border-inline-end: 1px solid var(--global-outer-contrast-border);
    }

    &[data-panel-bordered='true']::before {
      content: '';
      background: var(--background);
      border-radius: inherit;
      position: absolute;
      inset: 0;
      z-index: -1;
      pointer-events: none;

      .Panel[data-panel-border-side='all']& {
        box-shadow: inset 0 0 0 1px var(--global-inner-contrast-border);
      }

      .Panel[data-panel-border-side='top']& {
        box-shadow: inset 0 1px 0 0 var(--global-inner-contrast-border);
      }

      .Panel[data-panel-border-side='bottom']& {
        box-shadow: inset 0 -1px 0 0 var(--global-inner-contrast-border);
      }

      .Panel[data-panel-border-side='left']& {
        box-shadow: inset 1px 0 0 0 var(--global-inner-contrast-border);
      }

      .Panel[data-panel-border-side='right']& {
        box-shadow: inset -1px 0 0 0 var(--global-inner-contrast-border);
      }
    }
  }
}
