/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .IconWrapper {
    position: relative;

    &::before {
      content: '';
      background-color: var(--icon-color, currentColor);
      position: absolute;
      inset: 0;
      z-index: -1;
      border-radius: inherit;
      animation: pulse 6s ease 0.5s infinite;
      animation-fill-mode: backwards;
    }

    & svg {
      display: block;
    }
  }

  .Image {
    max-inline-size: 22rem;
    max-block-size: 22rem;
  }

  @keyframes pulse {
    0% {
      opacity: 80%;
      transform: scale(0.8);
    }

    30%,
    100% {
      opacity: 0%;
      transform: scale(3);
      border-radius: 50px;
    }
  }
}
