/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

@layer components {
  .TableRow {
    & + & {
      border-top: 1px solid transparent;
    }

    [data-table-stripes='true'] &:nth-child(even) {
      background-color: var(--dimmed-0);
    }

    [data-table-separators='true'] & + & {
      border-color: var(--dimmed-2);
    }
  }
}
