  .TableRow {
    & + & {
      border-top: 1px solid transparent;
    }

    [data-table-stripes='true'] &:nth-child(even) {
      background-color: var(--dimmed-0);
    }

    [data-table-separators='true'] & + & {
      border-color: var(--dimmed-2);
    }
  }
