/*
 * Copyright © 2026 Lualtek Srl
 * All rights reserved.
 *
 * This source code is proprietary and confidential.
 * Unauthorized copying, modification, distribution, or use
 * of this code, via any medium, is strictly prohibited.
 *
 * Developed by Mattia Astorino for Lualtek Srl
 * https://lualtek.io
 */

.Bleed {
  margin: 0 calc(var(--bleed, 0) * -1);

  &[data-bleed-full='true'] {
    width: 100vw;
    margin-left: calc(50% - 50vw);
  }
}
